{% extends 'base.html.twig' %}

{% block title %}App test - {{ page_name }}{% endblock %}

{% block body %}
    <h3 class="text-center mt-5">Add new product</h3>
    {{ form(form, { 'attr': {'id': 'add-new-product'} }) }}
{% endblock %}