{% extends 'base.html.twig' %}

{% block title %}App test - {{ page_name }}{% endblock %}

{% block body %}
    <div class="sales-container mt-5 text-center">
        <h1>Sales list</h1>
        <table id="sales-table">
            <thead class="sales-header">
            </thead>
            <tbody class="sales-body">
            </tbody>
        </table>
    </div>
{% endblock %}