{% extends 'base.html.twig' %}

{% block title %}App test - {{ page_name }}{% endblock %}

{% block body %}
    <div class="sales-container mt-5 text-center">
        <table id="sales-table">
            <thead class="sales-header">
                <tr>
                    <th colspan="2"></th>
                    <th colspan="4" class="text-center" style="border-left:1px solid #000; border-right:1px solid #000;border-top:1px solid #000">
                        Sales
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="sales-body">
                
            </tbody>
        </table>
    </div>
{% endblock %}